bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.YouTubeDownloader.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/.idea.YouTubeDownloader/.idea/.gitignore
/app.manifest
/.idea/.idea.YouTubeDownloader/.idea/avalonia.xml
/.idea/.idea.YouTubeDownloader/.idea/encodings.xml
/.idea/.idea.YouTubeDownloader/.idea/indexLayout.xml
/.idea/.idea.YouTubeDownloader/.idea/vcs.xml
